<%#= render 'users/userinfo', users: @user %>

<div class="col-md-8 offset-md-1">
  <h1>Users</h1>
  <table class="table">
    <thead>
      <tr>
        <th>image</th>
        <th>name</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <%= image_tag 'no_image.jpeg' %>
      <td>
        <%= user.image %>
      </td>
      <td>
        <%= user.name %>
      </td>
      <td>
        <%= link_to 'Show', user_path(user.id) %>
      </td>
      <% end %>
    </tbody>
  </table>
</div>