<div class="col-md-8 offset-md-1">
  <h1>Books</h1>
  <table class="table table-hover table-inverse">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <% @books.each do |book| %>
      <th><%= image_tag 'no_image.jpeg' %></th>
      <th><%= link_to book.title, book_path(book.id) %></th>
      <th><%= book.body %></th>
      <% end %>
      </tr>
    </tbody>
  </table>
</div>